body {
    background-color: rgb(44, 106, 177);
    font: normal 15pt Arial;

}

header {
    color: aliceblue;
    text-align: center;

}

section {background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822);

}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color:aliceblue;
    text-align: center;
    font-style:italic;
}